@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.h100 {
  min-height: 100vh;
}

.nav-link-active,
.nav-link-active:hover {
  border-bottom: 2px solid #007BFF !important;
}

.nav-link {
  border-bottom: 2px solid #F8F9FA;
}

.nav-link:hover {
  border-bottom: 2px solid #007BFF;
}

.list-hover:hover {
  background-color: #F8F9FA;
}


@media (max-width: 575.98px) {
  .h100 {
    min-height: 0vh;
  }
}