@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.h100 {
  min-height: 100vh;
}

@media (max-width: 575.98px) {
  .h100 {
    min-height: 0vh;
  }
}